@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;  /* #f9fafb */
    --btn-background: 200 10% 91%;  /* #e6e9ea */
    --btn-background-hover: 200 10% 89%;  /* #e0e4e6 */
    --foreground: 200 50% 3%;  /* #04090b */
    --dimmed: 200 5% 75% /* #8f9ca3 */
  }

  /* @media (prefers-color-scheme: dark) { */
    .dark {
      --background: 200 20% 98%;  /* #f9fafb */
    --btn-background: 200 10% 91%;  /* #e6e9ea */
    --btn-background-hover: 200 10% 89%;  /* #e0e4e6 */
    --foreground: 200 50% 3%;  /* #04090b */
    --dimmed: 200 5% 75% /* #8f9ca3 */
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #122C49;
  background-color: #FAFAFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
